<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.tymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>素材一覧</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/material/list.css}">
</head>
<body>

<h1>昇進・育成素材一覧</h1>

<table class="materials-table">
  <tbody>
    <tr th:each="material : ${materials}" class="material-row">
      <td class="material-card">
        <a th:href="@{/materials/{id}(id=${material.id})}" class="material-card-link">
        <div class="material-image">
          <img th:src="@{'/images/material/' + ${material.name} + '.png'}" alt="Material Image">
        </div>
        <span th:text="${material.name}"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>